<section class="vh-99" style="background-color: #364949c7;">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-00">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;  transform: scale(0.9)">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/images/login and register/photo-1539109136881-3be0616acf4b.avif"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-3 p-lg-5 text-black">

                <form action="/admin/login" id="loginUpForm" method="post" role="form">

                  <div class="d-flex align-items-center mb-1 pb-1">
                    <span class="h1 fw-bold mb-0">Welcome</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-3">
                    <input type="email" name="email" class="form-control form-control-lg" required/>
                    <label class="form-label" >Email address</label>
                  </div>

                  <div class="form-outline mb-3">
                    <input type="password" name="password" class="form-control form-control-lg" required/>
                    <label class="form-label" >Password</label>
                  </div>

                  <div class="pt-1 mb-3">
                    <button class="btn bg-primary btn-lg btn-block" type="submit">Login</button>
                  </div>
                  {{#if loginErr}}
                    <p class="text-danger text-center">Invalid UserName Or Password</p>
                  {{/if}}  
                  <a class="small text-muted" href="#!">Forgot password?</a>
                  {{!-- <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
                      style="color: #2b3ae0;">Register here</a></p> --}}
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <script>
        $("#loginUpForm").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                    noCaps: true
                },
                password: {
                    required: true,
                },
            },
            messages: {
          
                email: {
                    required: "Please enter your EmailID",
                    email: "Enter a valid Email ID",
                    noCaps: "Only lower case"
                },
                password: {
                    required: "Please enter your password",
                },
            }
        });
 </script>